.modal-container {
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(250, 250, 250, 0.96);
  position: fixed;
  top: 0;
  right: 0;
  backface-visibility: hidden;
  opacity: 0;
  display: none;
  transition: opacity .6s;
  padding-left: 30px;
  padding-right: 30px;
}

.modal-active {
  opacity: 1;
  display: block;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 32px;
}

.btn-close {
  background: transparent;
  border: 0;
  cursor: pointer;
}

@media (min-width: 600px) {
  .modal-container {
    max-width: 400px;
  }
}

#input-file {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2.4rem;
}

#input-file .avatar-image {
  background-size: cover;
  width: 8rem;
  height: 8rem;
  border: 1px solid var(--primary);
  border-radius: 50%;
}

#input-file input {
  width: 0.1px;
  visibility: hidden;
  z-index: -1;
}

#input-file .upload-label {
  font-weight: 500;
  padding: 0.8rem;
  margin-left: 0.8rem;
  border-radius: 0.8rem;
  cursor: pointer;
  color: var(--text) !important;
  background-color: var(--primary);
}
