body{
    margin: 0;
    padding: 0;
}

.janelaModal{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 60vh;
    margin: 0 auto;
    margin-top: 150px;    
    border: 1px solid #EBEBF1;
    border-radius: 8px;
}

.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8vh;    
    border-bottom: 1px solid #EBEBF1;
}

.Header img{
    width: 80px;    
}

#logo{
    margin-left: 30px;
}

#fechar{
    width: 1.5em;
    margin-right: 30px;
}

.Info h1{
    font-size: 1.5em;
    color: #727175;
}

.nomePet{
    color: #AAE8E8;
}

.Info img{
    width: 70%;
    margin: 15px 0;
}

.Botao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 40px;
    margin: 0 auto;
    border-radius: 8px;
    background-image: linear-gradient( to right, #8BE2A6, #5BD7E7 );
}

.Botao img{
    margin-right: 8px;
}

.Botao p{
    font-weight: 600;
    color: white;
}